.square {
	background: #fff;
	color: black;
	border: 1px solid #999;
	float: left;
	font-size: 36px;
	font-weight: 700;
	height: 54px;
	line-height: 54px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 54px;
}