.square {
	background: #fff;
	color: black;
	border: 1px solid #999;
	float: left;
	font-size: 12px;
	font-weight: 700;
	height: 15px;
	line-height: 15px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 15px;
}

.small {
	
}

.alive {
	background: black;
}

.dead {
	background-color: white;
}